<div class="middle-display">
	<h2>Here is where you can make changes</h2>

	<%= render 'form' %>

	<%= link_to "Back to #{@favorite_activity.child_account.username}'s Activity", child_account_favorite_activity_path(@favorite_activity.child_account, @favorite_activity) %>
	<%= link_to "Back to #{@favorite_activity.child_account.username}'s Favorites", child_account_favorite_activities_path(@favorite_activity.child_account) %>
</div>