<div class='container'>
  <div class='very-top'>
    <%= link_to 'Fit Families', landing_index_path, class: 'logo' %>
    <div class='signer'>
      <%= link_to 'Log In' %>
      <%= link_to 'My Account' %>
  </div>
  </div>
</div>


