/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bourbon";
@import "neat";

html {
  @include background(linear-gradient(#D8E1F2, #4A83ED));
  height: 100%;
}

body {
  @include outer-container;
  min-width: 800px;
  font-family: $verdana;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:visited {
  color: none;
}

a:hover {
  color: #FFFF00;
}

header {
  @include background(linear-gradient(#3F92F2, #6E7985));
  @include span-columns(12);
  height: 6em;
  border: 4px solid #FFFF00;
  border-radius: 7px;
  .very-top {
    @include span-columns(12);
    .logo {
      @include span-columns(7 of 12);
      @include shift(1);
      font-weight: bold;
      font-size: 3em;
      padding: 5px 0;
    }
    .signer {
      @include span-columns(4 of 12);
      padding: 10px 0;
      a {
        padding: 0 10px;
        @include button(shiny, darkblue);
      }
    }
  }
}

.navbar {
  @include span-columns(12);
  padding: 0 1em;
  a {
    @include span-columns(2);
    @include button(shiny);
  }
  p {
    @include span-columns(1);
  }
  .kid-button {
    @include span-columns(2);
  }

}


.middle-display {
  @include span-columns(12);
  @include background(linear-gradient(#FFFFFF, #AFC4C0));
  border-radius: 7px;
  h1 {
    @include shift(1);
  }
  h2 {
    @include shift(1);
  }
  h3 {
    @include shift(6);
  }
  ul {
    @include shift(2);
  }
  .bottom-links {
    @include span-columns(6 of 12);
    @include shift(6);
    padding: 15px 0;
    a {
      padding: 0 15px;
    }
  }
}

footer {
  @include span-columns(12);
  @include background(linear-gradient(#6E7985, #3F92F2));
  height: 3em;
  padding: 15px 0;
  border: 4px solid #FFFF00;
  border-radius: 7px;
  a {
    @include span-columns(3 of 12);
    @include shift(1);
    padding: 0 25px;

    }
  }

.basic-form {
    @include span-columns(12);
    @include shift(2);
    padding: 20px 0 25px 0;
    .create-button {
      @include button(pill);
      font-size: 1.2em;
    }
  }

.submit-button {
  @include button(pill);
  @include shift(2);
  font-size: 1.2em;
  }







