/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bourbon";
@import "neat";

.home-page {
  background: url("family_picture.png") top center no-repeat;
  background-size: cover;
  min-width: 800px;
  max-height: 680px;
}

.basic-background {
  background: url('skyline.png') top center no-repeat;
  background-size: cover;
  min-width: 800px;
  max-height: 680px;
}

.container {
  @include outer-container;
  min-width: 800px;
  min-height: 680px;
  font-family: $verdana;
}

a {
  text-decoration: none;
  color: #2351EB;
}

a:visited {
  color: none;
}

a:hover {
  color: #FAE642;
}

#flash {
  padding: 1em 0 0 0;
}

header {
  @include span-columns(12);
  height: 4em;
  .very-top {
    @include span-columns(12);
    margin: 30px 0;
    #logo-image img {
      @include span-columns(2 of 12);
      height: 8em;
      width: 8em;
      border-radius: 3em;
    }
    #logo-word {
      @include span-columns(2 of 12);
      font-weight: bold;
      font-size: 2em;
      padding: 1.6em 0;
    }
    .signer {
      @include span-columns(4 of 12);
      @include shift(4);
      padding: 10px 0;
      a {
        padding: 0 10px;
        @include button(shiny, #284EE3);
      }
    }
  }
}

.kids {
  @include span-columns(5 of 12);
  @include shift(7);
  padding: 4em 0 0 0;
  a {
    font-size: 1.8em;
    font-family: 'Coming Soon', cursive;
    padding: 0 0.5em;
  }
}

.nav {
  @include span-columns(12);
  #food {
    @include span-columns(2 of 12);
    @include shift(7);
    img {
      height: 7em;
      width: 7em;
    }
  }
  #fitness {
    @include span-columns(2 of 12);
    img {
      height: 7em;
      width: 7em;
    }
  }
}

.middle-display {
  @include span-columns(12);
  h1 {
    @include shift(1);
  }
  h2 {
    @include shift(1);
  }
  ul {
    @include shift(2);
  }
  .bottom-links {
    @include span-columns(12);
    padding: 15px 0;
    a {
      padding: 0 15px;
    }
  }
}

footer {
  @include span-columns(5 of 12);
  @include shift(7);
  margin-top: -6em;
  ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 0.5em;
  }
}

.basic-form {
    @include span-columns(12);
    @include shift(2);
    padding: 20px 0 25px 0;
    .create-button {
      @include button(pill);
      font-size: 1.2em;
    }
  }

.submit-button {
  @include button(pill);
  @include shift(2);
  font-size: 1.2em;
  }







