@import "bourbon";
@import "neat";


.sign-up {
  @include span-columns(4);
  @include shift(4);
  @include button(shiny);
  text-align: center;
  h1 {
    padding: 10px 10px 10px 10px;
  }
}

.child-info {
  @include span-columns(3);
  display: inline-block;
}

