@import "bourbon";
@import "neat";

.FFF {
	@include span-columns(5);
  @include shift(7);
  font-size: 1.5em;
  height: 10em; 
	.sign-up {
		@include shift(2);
		font-size: 2em;
		font-family: 'Coming Soon', cursive;
	}
}
