<div class='middle-display'>
  <h2>Here are the details</h2>
  <ul>
    <li><%= @activity.name %></li>
    <li><%= @activity.activity_category.activity_category %></li>
    <li><%= @activity.description %></li>
  </ul>
  
  <div class='bottom-links'>
    <%= link_to 'Back to the list of activities', activities_path %>
  </div>  
</div>